/*Общие стили для расположения блоков и адаптивности страниц*/
 
* {
   margin: 0px;
   padding: 0px;
   box-sizing:border-box;
}
body{position:relative; overflow:hidden; overflow-y:scroll; width:100vw; }
header{position:fixed; top:0; left:0; right:0; height:132px;  z-index: 2000;}

ul{
    list-style: disc outside;
    margin-left: 20px;
}
main{position:relative; overflow:hidden;}

.frame{position:relative; padding:0 10px;}

@media all and (min-width: 1200px){
	.frame{max-width:1100px; margin:0 auto;}
}
